
<.navbar socket={@socket}/>

<div id="event-list-container">
  <div >
    <ul id="event-list" id="infinite-scroll-body" phx-update="append">
      <%= for {id, event} <- @streams.events  do %>
        <%= if event.show do %>
          <li id={"li-#{event.id}"} class="p-10">
            <.event_card_old event={event} />
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div id="infinite-scroll-marker" phx-hook="InfiniteScroll" data-page={@page}></div>
</div>
